.sweet-alert{
    width: auto;
    text-align: inherit;
    padding: 50px;
    margin-left: -350px;

    .sa-confirm-button-container{
        float: right;
        
        button{
            background-color: #7788C4!important;
        }
    }

}